<!-- <footer class="mt-5">
    <div class="fixed-bottom bg-white p-1">
      <div class="container">
        <div class="row text-centert">
          <div class="col-6">
            <a [routerLink]="['']">
              <i class="fa fa-home fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer> -->

<footer>
  <small class="TextoCopyright ff-inter">
    <!-- <a [routerLink]="['']"> <i class="fa fa-home fa-2x"></i> </a> -->
    <i [routerLink]="['/menu']" class="fa fa-home fa-2x"></i>
    &copy; 2024 Criado por Ricardo Del Vecchio.
  </small>
  <img
    class="LogoRodape"
    src="../../../assets/img/logo-rodape.png"
    alt="Logo de caminhão da transportadora"
  />
  <small class="TextoRodape ff-inter">
    Transportadora São Tomé
   </small>
</footer>
