.cliente-form {
  padding: 2rem 0;
}

.cliente-form form {
background: #dde0e2;
border: none;
border-radius: 20px;
display: flex;
flex-direction: column;
padding: 2rem;
width: 100%;
}

.espaco-dentro {
padding: 0rem 2rem 0rem;
}

.form-grid {
display: grid;
}

.full-width {
width: 100%;
}

.acoes {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}

.botao {
margin: 5px;
margin-top: 70px;
width: 200px;
}
