<section class="container cliente-form ff-inter">
  <header class="header">
    <h4><strong>Cadastrar Clientes:</strong></h4>
  </header>

  <form [formGroup]="formulario" class="full-width" id="formulario">
    <br />
    <h6><strong>Informações Cliente:</strong></h6>
    <br />

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Nome:</mat-label>
            <input
              matInput
              name="nome"
              placeholder="Digite o Nome"
              formControlName="nome"
              #nome
            />
            <mat-hint align="end">{{ nome.value.length || 0 }} / 100</mat-hint>
            @if (formulario.get("nome")?.invalid) {
              <mat-error>
                {{ formUtils.getMensagemErro(formulario, "nome") }}</mat-error
              >
            }
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CPF/CNPJ:</mat-label>
            <input
              matInput
              name="cpfcnpj"
              placeholder="Digite o CPF ou CNPJ"
              formControlName="cpfcnpj"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Telefone:</mat-label>
            <span matTextPrefix>+55</span>
            <input
              matInput
              name="telefone"
              placeholder="(11) 5555-1234"
              formControlName="telefone"
            />
            @if (formulario.get("telefone")?.invalid) {
              <mat-error>
                {{
                  formUtils.getMensagemErro(formulario, "telefone")
                }}</mat-error
              >
            }
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Celular:</mat-label>
            <span matTextPrefix>+55</span>
            <input
              matInput
              name="celular"
              placeholder="(XX) 9XXXX-XXXX"
              formControlName="celular"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-grid">
            <mat-label>E-mail:</mat-label>
            <input
              matInput
              name="email"
              placeholder="Ex. pat@example.com"
              formControlName="email"
            />
            @if (formulario.get("email")?.invalid) {
              <mat-error>
                {{ formUtils.getMensagemErro(formulario, "email") }}</mat-error
              >
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CEP:</mat-label>
            <input
              matInput
              name="cep"
              placeholder="Digite o CEP"
              formControlName="cep"
              (blur)="consultaCEP()"
            />
            @if (formulario.get("cep")?.invalid) {
              <mat-error>
                {{ formUtils.getMensagemErro(formulario, "cep") }}</mat-error
              >
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Logradouro:</mat-label>
            <input matInput name="logradouro" formControlName="logradouro" />
            @if (formulario.get("logradouro")?.invalid) {
              <mat-error>
                {{
                  formUtils.getMensagemErro(formulario, "logradouro")
                }}</mat-error
              >
            }
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Número:</mat-label>
            <input matInput name="numero" formControlName="numero" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Complemento:</mat-label>
            <input
              matInput
              placeholder="Ex. Apto 64"
              name="complemento"
              formControlName="complemento"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Bairro:</mat-label>
            <input matInput name="bairro" formControlName="bairro" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Cidade:</mat-label>
            <input
              matInput
              placeholder="Ex. Santo André"
              name="cidade"
              formControlName="cidade"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>UF:</mat-label>
            <input
              matInput
              placeholder="Ex. São Paulo"
              name="estado"
              formControlName="estado"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button (click)="onSubmit()" class="botao">Salvar</button>
      <button (click)="onCancel()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
