<section class="container cadastrar-pedidos ff-inter">
  <header class="header">
    <h2>Cadastro de Pedidos:</h2>
  </header>
  <form>
    <label for="fantasia">Fantasia</label>
    <input
      type="textarea"
      class="input"
      id="fantasia"
      name="fantasia"
      placeholder="Digite o nome fantasia"
      [(ngModel)]="dadosPedido.fantasia"
    />

    <label for="razaosocial">Razão Social</label>
    <input
      type="textarea"
      class="input"
      id="razaosocial"
      name="razaosocial"
      placeholder="Digite a Razão Social"
      [(ngModel)]="dadosPedido.razaosocial"
    />

    <label for="telefone">Telefone</label>
    <input
      type="textarea"
      class="input"
      id="telefone"
      name="telefone"
      placeholder="Digite o telefone"
      [(ngModel)]="dadosPedido.telefone"
    />

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            name="modelo-card"
            [(ngModel)]="dadosPedido.modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>

        Prévia:
        <div class="modelo modelo1 ff-roboto-mono" [ngClass]="larguraPedido()">
          <img src="../../../../assets/img/modelo1.png" alt="Aspas azuis" />
          <p class="fantasia">{{ dadosPedido.fantasia }}</p>
          <p class="razaosocial">
            <b>{{ dadosPedido.razaosocial }}</b>
          </p>
          <p class="telefone">
            <b>{{ dadosPedido.telefone }}</b>
          </p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            name="modelo-card"
            [(ngModel)]="dadosPedido.modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>

        Prévia:
        <div class="modelo modelo2 ff-roboto-mono" [ngClass]="larguraPedido()">
          <img src="../../../../assets/img/modelo2.png" alt="Aspas azuis" />
          <p class="fantasia">{{ dadosPedido.fantasia }}</p>
          <p class="razaosocial">
            <b>{{ dadosPedido.razaosocial }}</b>
          </p>
          <p class="telefone">
            <b>{{ dadosPedido.telefone }}</b>
          </p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            name="modelo-card"
            [(ngModel)]="dadosPedido.modelo"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>

        Prévia:
        <div class="pedido {{ dadosPedido.modelo }} ff-roboto-mono" [ngClass]="larguraPedido()">
          <img src="../../../../assets/img/modelo3.png" alt="Aspas azuis" />
          <p class="fantasia">{{ dadosPedido.fantasia }}</p>
          <p class="razaosocial">
            <b>{{ dadosPedido.razaosocial }}</b>
          </p>
          <p class="telefone">
            <b>{{ dadosPedido.telefone }}</b>
          </p>
        </div>
      </div>
    </div>

    <div class="acoes">
      <button (click)="cadastrarPedido()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
      <button (click)="pedidoEmitido()" routerLink="/emite-pedido" class="botao">Emite Pedido</button>

      <button class="botao-editar">
        <img src="/assets/img/icone-editar.png" routerLink="pedidos/editar-pedidos/{{dadosPedido.id}}" alt="Ícone de editar">
      </button>
      <button class="botao-excluir" routerLink="pedidos/excluir-pedidos/{{dadosPedido.id}}">
        <img src="/assets/img/icone-excluir.png" alt="Ícone de excluir">
      </button>
    </div>
  </form>

</section>
