<section class="container cadastrar-pedidos ff-inter">
  <header class="header">
    <h4><strong>Emitir Pedido</strong></h4>
  </header>

  <form class="example-form" [formGroup]="formGroup">

    <table class="example-full-width" cellspacing="0">
      <td class="codigo-coluna">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Código Cliente</mat-label>
          <input matInput disabled value="ID" disabled name="idCliente" />
        </mat-form-field>
      </td>
      <td class="buscar-coluna">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Buscar Cliente</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{ option.name }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </td>
      
    </table>  

    <div>
      <h6><strong>Informações Cliente</strong></h6>

      <div>
        <td class="nome-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nome:</mat-label>
            <input matInput formControlName="nome" placeholder="Digite o nome do cliente" />
          </mat-form-field>
        </td>
        <td class="cpf-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>CPF:</mat-label>
            <input matInput formControlName="cpf" placeholder="Digite o CPF" />
          </mat-form-field>
        </td>
      </div>

      <div>
        <td class="telefone-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefone:</mat-label>
            <span matTextPrefix>+55 &nbsp;</span>
            <input matInput formControlName="telefone" placeholder="(11) 5555-1234" />
          </mat-form-field>
        </td>
        <td class="celular-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Celular:</mat-label>
            <span matTextPrefix>+55 &nbsp;</span>
            <input matInput formControlName="celular" placeholder="(XX) 9XXXX-XXXX" />
          </mat-form-field>
        </td>
        <td class="email-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>E-mail:</mat-label>
            <input matInput formControlName="email" placeholder="Ex. pat@example.com" />
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              E-mail inválido.
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </div>
    </div>

    <table class="example-full-width" cellspacing="0">

        <tr>
          <br />
          <h6>
            <strong>Informações Endereço</strong>
          </h6>
          <br />
        </tr>

        <tr>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>CEP:</mat-label>
            <input matInput formControlName="cepCliente" minlength="8" maxlength="9" placeholder="Ex. 04053-070"
              pattern="^(\d{5})(-?\d{3})$" />
            <div *ngIf="(formGroup?.invalid && formGroup?.touched) || formGroup?.dirty">
              <mat-error *ngIf="formGroup.hasError('cep') && !formGroup.hasError('required')">
                O campo de CEP é obrigatório
              </mat-error>
            </div>
          </mat-form-field>
        </tr>
        <tr>
          <td class="logradouro-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Logradouro:</mat-label>
              <input matInput formControlName="logradouro" />
            </mat-form-field>
          </td>
          <td class="numero-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Número:</mat-label>
              <input matInput formControlName="numero" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="complemento-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Complemento:</mat-label>
              <input matInput formControlName="complemento" placeholder="Ex. Apto 64" />
            </mat-form-field>
          </td>
          <td class="referencia-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Referência:</mat-label>
              <input matInput formControlName="referencia" placeholder="Ex. Próximo a escola adventista" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="bairro-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Bairro:</mat-label>
              <input matInput formControlName="bairro" />
            </mat-form-field>
          </td>
          <td class="cidade-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Cidade:</mat-label>
              <input matInput formControlName="cidade" placeholder="Ex. Santo André" />
            </mat-form-field>
          </td>
          <td class="uf-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>UF:</mat-label>
              <input matInput formControlName="estado" placeholder="Ex. São Paulo" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">

        <tr>
          <br />
          <h6><strong>Informações Empresa:</strong></h6>
          <br />
        </tr>

        <tr>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nome Fantasia:</mat-label>
            <input matInput formControlName="fantasia" placeholder="Digite o nome fantasia" />
          </mat-form-field>
        </tr>

        <tr>
          <td class="razao-social-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Razão Social:</mat-label>
              <input matInput formControlName="razaoSocial" placeholder="Digite a Razão Social" />
            </mat-form-field>
          </td>
          <td class="cnpj-coluna">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>CNPJ:</mat-label>
              <input matInput formControlName="cnpj" placeholder="Digite o CNPJ" />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">

        <tr>
          <br />
          <h6><strong>Informações Pedido:</strong></h6>
          <br /><br />
        </tr>

        <tr>Forma de Pagamento</tr>

        <tr>
          <td>
            <mat-card-content>
              <section class="payment-section">
                <mat-checkbox class="example-margin" (change)="onPaymentCheckBoxChange($event)">Á Vista</mat-checkbox>
              </section>
            </mat-card-content>
          </td>
          <td>

            <mat-form-field appearance="outline">
              <mat-label>Faturar em</mat-label>
              <mat-select [disabled]="isPaymentChecked">
                <mat-option>Não disponível</mat-option>
                <mat-option *ngFor="let state of statesFaturamento" [value]="state">{{state}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>


        <br/>

        <tr>
          <mat-slide-toggle formControlName="deliveryAddress" (change)="onToggleChange($event)">
            Entregar no mesmo endereço de cadastro
          </mat-slide-toggle>
        </tr>

        <br/>

        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Logradouro</mat-label>
              <input disableRipple [disabled]="isAdressChecked" matInput name="logradouro"
              [disabled]="isAdressChecked"/>
            </mat-form-field>  
           </td>      
           <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Número:</mat-label>
              <input disableRipple [disabled]="isAdressChecked" matInput name="numero" />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Complemento:</mat-label>
              <input disableRipple [disabled]="isAdressChecked" matInput placeholder="Ex. Apto 64" name="complemento" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Bairro:</mat-label>
              <input disableRipple [disabled]="isAdressChecked" matInput name="bairro" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Cidade:</mat-label>
              <input disableRipple [disabled]="isAdressChecked" matInput placeholder="Ex. Santo André" name="cidade"/>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>UF:</mat-label>
              <input disableRipple [disabled]="isAdressChecked" matInput placeholder="Ex. São Paulo" name="estado"/>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>SFOBRAS:</mat-label>
              <input matInput formControlName="sfobras" placeholder="Digite o SFOBRAS" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>CNO:</mat-label>
              <input matInput formControlName="cno" placeholder="Digite o CNO" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Mangueira: Metros</mat-label>
              <select matNativeControl formControlName="metro">
                <option value="" selected></option>
                <option *ngFor="let metro of metros" [value]="metro.value">{{ metro.viewValue }}</option>
              </select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Inscrição Estadual:</mat-label>
              <input matInput formControlName="ie" placeholder="Informe a IE" />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          Preço
        </tr>
        <br />
        <tr>
        <td class="preco1-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Preço cx-5m³</mat-label>
            <input matInput formControlName="preco1" />
          </mat-form-field>
        </td>
        <td class="preco2-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Preço cx-10m³</mat-label>
            <input matInput formControlName="preco2" />
          </mat-form-field>
        </td>
        <td class="preco3-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Preço cx-15m³</mat-label>
            <input matInput formControlName="preco3" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td class="preco4-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Preço lav-5m³</mat-label>
            <input matInput formControlName="preco4" />
          </mat-form-field>
        </td>
        <td class="preco5-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Preço lav-10m³</mat-label>
            <input matInput formControlName="preco5" />
          </mat-form-field>
        </td>
        <td class="preco6-coluna">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Preço lav-15m³</mat-label>
            <input matInput formControlName="preco6" />
          </mat-form-field>
        </td>
      </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Ajudante p/ hora adicional:</mat-label>
              <input matInput name="ajudanteHora" placeholder="Informe o ajudante para hora adicional" />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Observações:</mat-label>
              <input matInput name="observacao" placeholder="Informações adicionais"/>
            </mat-form-field>
          </td>
        </tr>
      </table>

  </form>


  <br />
  <br />

</section>
