.cadastrar-pedidos {
  padding: 2rem 0;
}

.cadastrar-pedidos form {
  background: #dde0e2;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.nome-coluna {
  width: 90%; /* Ajuste conforme necessário */
}

.cpf-coluna {
  width: 30%; /* Ajuste conforme necessário */
}

.telefone-coluna {
  width: 30%; /* Ajuste conforme necessário */
}

.celular-coluna {
  width: 30%; /* Ajuste conforme necessário */
}

.email-coluna {
  width: 40%; /* Ajuste conforme necessário */
}
