.acoes {
    display: flex;
    justify-content: flex-end
  }
  
  .botao-excluir {
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
  }
  
  .botao-editar {
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .emite-pedido {
    background-color: #F8F9FE;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .emite-pedido .conteudo {
    margin: 1rem auto;
    word-wrap: break-word;
  }
  
  .emite-pedido .autoria {
    word-wrap: break-word;
  }
  
  .modelo1 {
    box-shadow: 8px 8px 0px #154580;
  }
  
  .modelo2 {
    box-shadow: 8px 8px 0px #6BD1FF;
  }
  
  .modelo3 {
    box-shadow: 8px 8px 0px #84EEC1;
  }
  
  .emite-pedido-g {
    width: 556px;
  }
  
  .emite-pedido-p {
    width: 262px;
  }
  
  @media screen and (max-width: 768px) {
    .emite-pedido-g {
      width: 100%;
    }
  }
  @media screen and (max-width: 426px) {
    .emite-pedido-p {
      width: 100%;
    }
  }