.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .botao {
    margin: 5px;
    margin-top: 70px;
    width: 200px;
  }
  
  .cadastra-clientes {
    padding: 2rem 0;
  }
  
  .cadastra-clientes form {
    background: #bbbfc2;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  .cadastra-clientes form label {
    color: #154580;
    font-weight: bold;
    margin: 0 0 1e;
  }
  
  .cadastra-clientes form .input {
    border: none;
    height: 40px;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 0.5rem 0 1.5rem;
  }
  
  
  .cadastra-clientes form .textarea {
    border: none;
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 0.5rem 0 2rem;
  }

  .modelos {
    display: flex;
    gap: 2.5rem;
    border: 1px solid red;
  }
  
  .modelo {
    background:#d9e7ec;
    padding: 1rem;
    width: 100%;
    margin: 0 0 6rem; 
    border-radius: 20px;
  }

  .modelo .conteudo {
    margin: 1rem auto;
    word-wrap: break-word;
  }
  
  .modelo .autoria {
    word-wrap: break-word;
  }
  
  .container-radio {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  
  .container-radio .imagem {
    width: 920px;
    height: 130px;
    padding: 2rem;
  }

   .radio {
    margin: 0;
  }

    
  .container-previa {
    display: flex;
    /* gap: 1.5rem; */
    flex-wrap: wrap;
    margin: 2rem 0rem;
  }
  
  .container-previa .imagem {
    width: 920px;
    height: 130px;
    padding: 2rem;
  }

  .volume {
    box-shadow: 8px 8px 0px;
  }
  
  .modelo1 {
    box-shadow: 15px 15px 15px #154580;
  }
  
  .modelo2 {
    box-shadow: 8px 8px 0px #6BD1FF;
  }
  
  .modelo3 {
    box-shadow: 8px 8px 0px #84EEC1;
  }
  
  input[type='radio'] {
    display: none;
  }
  
  .radio-modelo label {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.5rem 1.2rem;
  }
  
  .custom-radio {
    border: 1px solid #154580;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
    border-radius: 50%;
  }
  
  .custom-radio,
  span {
    transition: 0.5s ease;
    color: #154580;
  }
  
  .custom-radio span {
    content: '';
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
  }
  
  input[type='radio']:checked+.custom-radio {
    border-color: #154580;
  }
  
  input[type='radio']:checked+.custom-radio span {
    background: #154580;
  }