<section class="container">
  <header class="header d-flex">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />

    <h2 class="ff-inter">Menu</h2>
    <button routerLink="/cadastra-clientes" class="botao">
      <!-- <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAXJJREFUSEvtlr1KxEAUhc9NNbO6SWCbrWTFFxDEWh9CrLcQFF9CfQgRBGFrfQntBW21UMtlm2QCMimWvRLdxL+Yicm4UTDl/Nxvzj13MpfQ0EcNcWEE83A4F7daG2BerHxIonvRbp8SkU5jFIKDIPCF41wCWKoMfd14I7ReoW73MRkqBMdK7TJwaAH6EoJoS7ruiRGsldoHsJcslJ5ntOWrA2qleDp3ID0viVms+FeDdRT1wdwD0YN03UGe6h9RrMPwHERrYL6Qvr/+d8B5fpbxuLbisuBnTyeTfppSJlomwGNAEfN1lmrHGaSeF3pcGvzmihnud3Z17ICbUvxR5cw8/gfX/nOVreoqL5WVqp4JOA7DHSY6qgLL3cO8LX3/+N2zmJfqaQdyBaBnAX4rxuNV6nQiIzhZwKPRfCzEJpgXasDvhOue5fZcZR6EGuBPW7N2pjGwrUIq25tlim0V0rfBtgop7SJN9VC5ZTUFNs03Bn4CzUxaLukbk9kAAAAASUVORK5CYII="
      /> -->
      <span style="font-size: 1em; color: white">
        <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
      </span>
      Criar Pedido
    </button>
    <button routerLink="/cadastrar-pedidos" class="botao">
      <i class="fa fa-search" aria-hidden="true"></i>
      Consultar Pedidos
    </button>
    <button routerLink="/consultar-pedidos" class="botao">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAXJJREFUSEvtlr1KxEAUhc9NNbO6SWCbrWTFFxDEWh9CrLcQFF9CfQgRBGFrfQntBW21UMtlm2QCMimWvRLdxL+Yicm4UTDl/Nxvzj13MpfQ0EcNcWEE83A4F7daG2BerHxIonvRbp8SkU5jFIKDIPCF41wCWKoMfd14I7ReoW73MRkqBMdK7TJwaAH6EoJoS7ruiRGsldoHsJcslJ5ntOWrA2qleDp3ID0viVms+FeDdRT1wdwD0YN03UGe6h9RrMPwHERrYL6Qvr/+d8B5fpbxuLbisuBnTyeTfppSJlomwGNAEfN1lmrHGaSeF3pcGvzmihnud3Z17ICbUvxR5cw8/gfX/nOVreoqL5WVqp4JOA7DHSY6qgLL3cO8LX3/+N2zmJfqaQdyBaBnAX4rxuNV6nQiIzhZwKPRfCzEJpgXasDvhOue5fZcZR6EGuBPW7N2pjGwrUIq25tlim0V0rfBtgop7SJN9VC5ZTUFNs03Bn4CzUxaLukbk9kAAAAASUVORK5CYII="
      />
      Cadastrar Cliente
    </button>
    <button routerLink="/consultar-clientes" class="botao">
      <i class="fa fa-search" aria-hidden="true"></i>
      Consultar Clientes
    </button>

  </header>
</section>
