<!-- <section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Consultar Clientes:</h2>
  </header>
  <div class="layoutcliente" *ngIf="listaClientes.length > 0; else semClientes">
    <div *ngFor="let cliente of listaClientes">
      <app-cadastrar-clientes [dadosCliente]="cliente"></app-cadastrar-clientes>
    </div>
  </div>

<ng-template #semClientes>
  <div class="ff-inter sem-clientes]">
    <p>Ainda não há clientes cadastrados!</p>
  </div>
</ng-template> -->

<mat-card>
  <mat-toolbar color="primary">Lista de Clientes</mat-toolbar>

  <div class="column-flex mat-elevation-z8">
    <app-clientes-lista
      *ngIf="clientes$ | async as clientes; else loading"
      [clientes]="clientes"
      (add)="onAdd()"
      (edit)="onEdit($event)"
      (remove)="onDelete($event)"
    ></app-clientes-lista>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</mat-card>
