.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.loading-spinner {
    background: #dde0e2;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.action-column {
  flex: 0 0 125px;
}

.action-column-header {
  margin: 0 auto;
}
