<section class="container">
  <header class="header d-flex">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />

    <button routerLink="/cadastrar-pedido" class="botao">
      <span style="font-size: 1em; color: white">
        <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
      </span>
      Criar Pedido
    </button>

    <button routerLink="/consultar-pedidos" class="botao">
      <i class="fa fa-search" aria-hidden="true"></i>
      Consultar Pedidos
    </button>

    <button routerLink="/cadastrar-cliente" class="botao">
      <span style="font-size: 1em; color: white">
        <i class="fa fa-plus fa-sm" aria-hidden="true"></i>
      </span>
      Cadastrar Cliente
    </button>

    <button routerLink="/consultar-clientes" class="botao">
      <i class="fa fa-search" aria-hidden="true"></i>
      Consultar Clientes
    </button>
  </header>
</section>
