<!-- <section class="container">
    <header class="header d-flex">
      <h2 class="ff-inter">Consultar Pedidos:</h2>
    </header>
    <div class="layoutpedido" *ngIf="listaPedidos.length > 0; else semPedidos">
      <div *ngFor="let pedido of listaPedidos">
        <app-cadastrar-pedidos [dadosPedido]="pedido"></app-cadastrar-pedidos>
      </div>
    </div>
  
  <ng-template #semPedidos>
    <div class="ff-inter sem-pedidos]">
      <p>Ainda não há pedidos cadastrados!</p>
    </div>
  </ng-template> -->

<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Consultar Pedidos:</h2>
  </header>

  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Exemplo: Ricardo"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nº Pedido</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
        <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
      </ng-container>

      <ng-container matColumnDef="fruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fruit</th>
        <td mat-cell *matCellDef="let row">{{ row.fruit }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</section>
