  .cabecalho {
    background: url(/assets/img/fundo-cabecalho.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: sticky;   
    top: 0; 
    z-index: 1;
  }
  
  .cabecalho .logo {
    width: 100%;
    max-width: 108px;
  }

  .cabecalho .logo-texto {
    max-width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .cabecalho .imagem{
    width: 8%;
    margin-left: auto; 
  }

  .navbar-text {
    padding: 0rem 0.5rem 0rem;
  }
    
  @media (max-width: 576px) {
    .cabecalho .logo {
      padding: 2rem;
    }
    .cabecalho p {
      font-size: 1.5rem
    }
  }
  
  @media (max-width: 768px) {
    .cabecalho .logo {
      width: 90%;
    }
    .cabecalho .imagem {
      display: none;
    }
  }