<header class="cabecalho ff-inter">

  <img class="logo" src="../../../assets/img/logo-cabecalho.png" alt="Imagem com um gota dagua">
  <img class="logo-texto" src="../../../assets/img/logo-saotome.png" alt="Imagem com o texto São Tomé">
  <img class="imagem" src="../../../assets/img/caminhao-cabecalho.png" alt="Imagem de um caminhão">

  <div *ngIf="user$ | async as user">
    <div *ngIf="user.name; else login">
      <i class="fa fa-user-circle mr-1"> </i>
      <a class="navbar-text">{{ user.name }}</a> <br>
      <a (click)="logout()" class="mr-1" > Logout</a>
    </div>
  </div> 
  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>

</header>