.cabecalho {
    background: url(/assets/img/fundo-cabecalho.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 2rem; */
    height: 150px;
  }
  
  .cabecalho .logo {
    width: 100%;
    padding: 1rem 5rem;
  }
  
  .cabecalho .logo img {
    width: 90%;
    max-width: 250px;
  }
  
  .cabecalho .imagem{
    width: 10%;
  }
  
  .cabecalho p {
    font-size: 1rem;
    color: #6BD1FF;
  }
  
  @media (max-width: 576px) {
    .cabecalho .logo {
      padding: 2rem;
    }
    .cabecalho p {
      font-size: 1.5rem
    }
  }
  
  @media (max-width: 768px) {
    .cabecalho .logo {
      width: 90%;
    }
    .cabecalho .imagem {
      display: none;
    }
  }