  .login {
    padding: 3rem 0;
  }
  
  .login form {
    background: #bbbfc2;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 1rem;
    margin: 3rem 6rem 6rem;
  }
  
  .login form label {
    color: #000000;
    font-weight: bold;
    margin: 0 0 1rem;
  }
  
  .login form .input {
    border: none;
    height: 40px;
    padding: 1rem 1rem;
    border-radius: 20px;
    margin: 0em 0em 1em;
  }

  .acoes {
    display: flex;
    justify-content: center;
    align-content: center;
  }  

  .botao {
    margin-top: 60px;
    width: 200px;
  }

  .erro {
    margin: 0em 0em 1em;
  }