<!-- <section class="container editar-pedidos ff-inter">
  <header class="header">
    <h4><strong>Editar Pedido:</strong></h4>
  </header>

  <form [formGroup]="formulario" class="full-width" id="formulario">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field class="form-grid" appearance="outline">
          <mat-label>Código Cliente</mat-label>
          <input matInput disabled name="idCliente" />
        </mat-form-field>
      </div>
    </div>

    <div class="espaco-dentro">
      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Nome:</mat-label>
            <input
              matInput
              name="nomePedido"
              placeholder="Digite o Nome"
              formControlName="nomePedido"
            />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CPF/CNPJ:</mat-label>
            <input
              matInput
              name="cpfcnpjPedido"
              placeholder="Digite o CPF ou CNPJ"
              formControlName="cpfcnpjPedido"
            />
          </mat-form-field>
        </div>
      </div>

    <br />
    <h6><strong>Endereço de Entrega:</strong></h6>
    <br />

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Logradouro:</mat-label>
            <input matInput name="logradouroPedido" formControlName="logradouroPedido" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Número:</mat-label>
            <input matInput name="numeroPedido" formControlName="numeroPedido" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Complemento:</mat-label>
            <input
              matInput
              placeholder="Ex. Apto 64"
              name="complementoPedido"
              formControlName="complementoPedido"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Bairro:</mat-label>
            <input matInput name="bairroPedido" formControlName="bairroPedido" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="form-grid">
            <mat-label>Cidade:</mat-label>
            <input
              matInput
              placeholder="Ex. Santo André"
              name="cidadePedido"
              formControlName="cidadePedido"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>UF:</mat-label>
            <input
              matInput
              placeholder="Ex. São Paulo"
              name="estadoPedido"
              formControlName="estadoPedido"
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="espaco-dentro">
      Forma de Pagamento:
      <div class="row">
        <div class="col-md-2">
          <mat-card-content>
            <section class="form-grid">
              <mat-checkbox
                class="checkbox-margin"
                (change)="onPaymentCheckBoxChange($event)"
                >Á Vista</mat-checkbox
              >
            </section>
          </mat-card-content>
        </div>
        <div class="col-md-2">
          <mat-card-content>
            <section class="form-grid">
              <mat-form-field>
                <mat-label>Faturado:</mat-label>
                <mat-select [disabled]="isPaymentChecked">
                  <mat-option value="0"> </mat-option>
                  <mat-option value="1">10 dias</mat-option>
                  <mat-option value="2">11 dias</mat-option>
                  <mat-option value="3">12 dias</mat-option>
                  <mat-option value="4">13 dias</mat-option>
                  <mat-option value="5">14 dias</mat-option>
                  <mat-option value="6">15 dias</mat-option>
                  <mat-option value="7">16 dias</mat-option>
                  <mat-option value="8">17 dias</mat-option>
                  <mat-option value="9">18 dias</mat-option>
                  <mat-option value="10">19 dias</mat-option>
                  <mat-option value="11">20 dias</mat-option>
                  <mat-option value="12">21 dias</mat-option>
                  <mat-option value="13">22 dias</mat-option>
                  <mat-option value="14">23 dias</mat-option>
                  <mat-option value="15">24 dias</mat-option>
                  <mat-option value="16">25 dias</mat-option>
                  <mat-option value="17">26 dias</mat-option>
                  <mat-option value="18">27 dias</mat-option>
                  <mat-option value="19">28 dias</mat-option>
                  <mat-option value="20">29 dias</mat-option>
                  <mat-option value="21">30 dias</mat-option>
                </mat-select>
              </mat-form-field>
            </section>
          </mat-card-content>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>SFOBRAS:</mat-label>
            <input
              matInput
              name="sfobras"
              placeholder="Digite o SFOBRAS"
              formControlName="sfobras"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>CNO:</mat-label>
            <input
              matInput
              name="cno"
              placeholder="Digite o CNO"
              formControlName="cno"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Inscrição Estadual:</mat-label>
            <input
              matInput
              name="ie"
              placeholder="Informe a IE"
              formControlName="ie"
            />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-grid">
            <mat-label>Mangueira: Metros</mat-label>
            <select matNativeControl name="metro" formControlName="mangueira">
              <option value="" selected></option>
              @for (metro of metros; track metro) {
                <option [value]="metro.value">{{ metro.viewValue }}</option>
              }
            </select>
          </mat-form-field>
        </div>
      </div>

      <h6>Volume:</h6>
      <div class="row">
        <div class="col-md-12">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            name="volume"
            formControlName="volume"
          >
            @for (volume of volumes; track volume) {
              <mat-radio-button [value]="volume.value">{{
                volume.viewValue
              }}</mat-radio-button>
            }
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-5m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoCx5" formControlName="precoCx5" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-10m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoCx10" formControlName="precoCx10" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço cx-15m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoCx15" formControlName="precoCx15" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-5m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoLv5" formControlName="precoLv5" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-10m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoLv10" formControlName="precoLv10" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-grid">
            <mat-label>Preço lav-15m³</mat-label>
            <span matTextPrefix>R$ </span>
            <input matInput name="precoLv15" formControlName="precoCx15" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="form-grid">
            <mat-label>Ajudante p/ hora adicional:</mat-label>
            <input
              matInput
              name="ajudanteHora"
              placeholder="Informe o ajudante para hora adicional"
              formControlName="ajudanteHora"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-grid">
            <mat-label>Observações:</mat-label>
            <input
              matInput
              name="observacao"
              placeholder="Informações adicionais"
              formControlName="observacao"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button (click)="onSubmit()" class="botao">Salvar Edição</button>
      <button (click)="onCancel()" class="botao">Cancelar</button>
    </div>
  </form>

</section> -->
