<section class="container novo-usuario ff-inter">
  <h3 class="text-center">Criar Conta</h3>

  <form class="input" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
    <input placeholder="e-mail" class="input" formControlName="email" />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail obrigatório"
    >
    </app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['email'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail no formato incorreto"
    >
    </app-mensagem>

    <input
      placeholder="Nome Completo"
      formControlName="fullName"
      class="input" 
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome incorreto"
    >
    </app-mensagem>

    <input
      placeholder="Usuário"
      class="input" 
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
        novoUsuarioForm.get('userName')?.touched
      "
      mensagem="Usuário deve ser em letra minúscula"
    >
    </app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
      mensagem="Usuário já existe"
    ></app-mensagem>

    <input
      type="password"
      placeholder="Senha"
      class="input" 
      formControlName="password"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
      mensagem="Senha deve ser diferente do usuário"
    >
    </app-mensagem>

    <button type="submit" class="botao btn-primary btn-block">Cadastro</button>
  </form>

  <!-- <p>Já um usuário? <a [routerLink]="['']"> Faça Login</a></p> -->
  <div class="usuario">
    <p>
      Já um usuário? 
      <a [routerLink]="['']"> Faça Login</a>
    </p>
  </div>
</section>
