<section class="container cadastrar-clientes ff-inter">
  <header class="header">
    <h2>Cadastro de Clientes:</h2>
  </header>
  <form>
    <label for="fantasia">Fantasia</label>
    <input
      type="textarea"
      class="input"
      id="nome"
      name="nome"
      placeholder="Digite o nome"
      [(ngModel)]="dadosPedido.nome"
    />

    <label for="cpfcnpj">CPF/CNPJ</label>
    <input
      type="textarea"
      class="input"
      id="cpfcnpj"
      name="cpfcnpj"
      placeholder="Digite a Razão Social"
      [(ngModel)]="dadosPedido.cpfcnpj"
    />

    <label for="telefone">Telefone</label>
    <input
      type="textarea"
      class="input"
      id="telefone"
      name="telefone"
      placeholder="Digite o telefone"
      [(ngModel)]="dadosPedido.telefone"
    />

    <div class="acoes">
      <button (click)="cadastrarCliente()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>

      <button class="botao-editar">
        <img src="/assets/img/icone-editar.png" routerLink="/clientes/editar-clientes/{{dadosPedido.idCliente}}" alt="Ícone de editar">
      </button>
      <button class="botao-excluir" routerLink="/clientes/excluir-clientes/{{dadosPedido.idCliente}}">
        <img src="/assets/img/icone-excluir.png" alt="Ícone de excluir">
      </button>
    </div>
  </form>

</section>
