<!-- <footer class="mt-5">
    <div class="fixed-bottom bg-white p-1">
      <div class="container">
        <div class="row text-centert">
          <div class="col-6">
            <a [routerLink]="['']">
              <i class="fa fa-home fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
<footer>
  <small class="TextoCopyright ff-inter">
    <a [routerLink]="['']"> <i class="fa fa-home fa-2x"></i> </a>
    &copy; 2024 Criado por Ricardo Del Vecchio.
  </small>
  <img
    class="LogoRodape"
    src="../../../assets/img/logo-rodape.png"
    alt="Logo de caminhão da transportadora"
  />
  <div class="textoRodape">
    <p>Transportadora São Tomé</p>
  </div>
</footer>
