  .row {
    /* background: #bbbfc2;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    width: 60%;
    height: 10%; */

    /* margin: 0 1em 1em; */
    padding: 0 11rem 0;

  }